:root{
  --color-first :  #FE5D26;
  --color-second :  #F2C078;
  --color-third :  #EEEEEE;
  --color-fourth :  #3D365C;
  --color-five :  #DDA853;
  --color-mustdo : #60B5FF;
  --color-Moderatelly : #B771E5;
  --color-fun : #1DCD9F;
  --color-delegate : #00bcf034;
  --color-fade : #f5eedc3a;
  --color-light-orange : #ffac4786;
  --color-white : #fff;

}

